#root {
  display: flex;
  width: 412px;
  flex-direction: column;
  padding-bottom: 60px;
  /* align-items: flex-start; */

}

.tasks-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.tasks-bx{
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 90%;
}

.tasks-pending{
  margin-top: 30px;
}

.tasks-completed{
  margin-top: 30px;
}



ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}


.tasks-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: #372348; /* Fondo suave similar al de la imagen */

  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 234px;
  margin: 10px 0;
}

.task-content {
  flex-grow: 1;
  margin-right: 10px;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.task-title {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.task-description {
  margin: 5px 0 0;
  font-size: 14px;
  color: #ffffffbe;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn_pts{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.btn_pts p{
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  margin: 0;
  margin-bottom: 8px;
}



.btn-task {
  background-color: #7c4dff;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.members-layout ul{
  width: 90%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  
  gap: 15px;
  margin: 0 auto;
}

.member-card {
  background-color: #372348;
  border-radius: 10px;
  display: flex;        
  flex-direction: column; 
  justify-content: space-between;
  max-height: 148px;
}

.member-card .content {
  padding: 10px;
}

.members-container .title, .title-addMember{
  display: flex;
  justify-content: center;
}

.form-addMember{
  margin-bottom: 50px;
}

.title-formAward{
  display: flex;
  justify-content: center;
}

.principalTitle{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  
}

.principalTitle h1{
  color: #fff;
  font-size: 35px;
}
.principalTitle span{
  color: #fff;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: bold;
}

.btn-check:hover {
  background-color: #5e35b1;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

::placeholder {
  color: #ffffff63;
}

input{
  background-color: #372348;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ffffff63;
  margin: 10px;
}

.input-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.btn-logOut{
  margin: 0 auto;
  background-color: rgba(255, 0, 0, 0.678);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  transition: background-color 0.3s;
}


select{
  background-color: #372348;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ffffff63;
  margin: 10px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
